<!DOCTYPE html>

<html xmlns:th="http://thymeLeafe.org">

<!-- Head -->

<head th:replace="layouts :: head"></head>

<body>
	<!-- Main NavigationBar Header -->
	<nav th:replace="layouts :: nav-bar-header"></nav>


	<div class="container">
		<div class="row">
			<h1> Subject List </h1>
		</div>
		<div class="row">
			<div style="padding-left: 48%">
				<form>
					<input type="text" placeholder="Add Subject">
					<button class="btn btn-primary"> Add </button>
				</form>
			</div>
			
			<div style="padding-left: 2%">
				<form style="padding-bottom: 3%">
					<input type="text" placeholder="Subject Name">
					<button class="btn btn-info"> search </button>
				</form>
			</div>
		</div>


		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th> Subjects </th>
					<th> Subject ID Number</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody th:if ="${condition1}">
				<tr th:each="subject: ${subject}">
					<td th:text="${subject.subjectName}"></td>
					<td th:text="${subject.subjectId}"></td>
					<td>
						<a th:href="@{/subject/{subjectId}(subjectId=${subject.subjectId})}"
							class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<div class="row">
			<h1> Course List </h1>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<a th:href="@{/new-course}" class="btn btn-primary btn-sm mb-3"> Add Course</a>
			</div>
			<div style="padding-left: 13%">
				<form>
					<input type="text" placeholder="Course Id">
					<button class="btn btn-info">search</button>
				</form>
			</div>
			<div style="padding-left: 2%">
				<form>
					<input type="text" placeholder="Course Name">
					<button class="btn btn-info">search</button>
				</form>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th> Course ID </th>
					<th> Name </th>
					<th> Description </th>
				</tr>
			</thead>

			<tbody th:if ="${condition2}">
				<tr th:each="course: ${course}">
					<td th:text="${course.courseId}"></td>
					<td th:text="${course.courseName}"></td>
					<td th:text="${course.description}"></td>
					<td>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>