<!DOCTYPE html>
<html xmlns:th="http://thymeLeafe.org">

<!-- Head -->

<head th:replace="layouts :: head"></head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand Link -->
		<a th:replace="layouts :: brand"></a>

		<!-- Navigation header Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Nav bar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/courses-subjects}">Subject and Course List</a>
				</li>
			</ul>
		</div>S
	</nav>

	<!--  this is the main body of the page -->

	<!--  this shows the subject name with a list of courses under it -->
	<div class="container">
		<div class="row">
			<h1 th:text="${subject.subjectName}"></h1>
			<h1 style="padding-left: 1%"> Courses</h1>
		</div>

		<!--  Displays all Courses under one Subject -->
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th> Course ID</th>
					<th> Course Name</th>
					<th> Teacher </th>
					<th> Number of Students</th>
					<th> Actions </th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="course: ${course}">
					<td th:text="${course.courseId}"></td>
					<td th:text="${course.courseName}"></td>

<!-- *****************TODO: need to add  TEACHERS  *****************-->

					<!-- <td th:text="${teacherCourse[1]}"></td> -->
					
					<td></td>
					<td th:text="${course.students.size()}" ></td>

					<td>

						<a th:href="@{/add-teacher/subject/{subjectId}/{courseId}
						(subjectId=${subject.subjectId}, courseId=${course.courseId})}"
							class="btn btn-primary">Update</a>

					</td>
				</tr>
			</tbody>

		</table>

	</div>
</body>

</html>