<!DOCTYPE html>
<html xmlns:th="http://thymeLeafe.org">
<!-- Head -->

<head th:replace="layouts :: head"></head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand Link -->
		<a th:replace="layouts :: brand"></a>

		<!-- Navigation header Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Nav bar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/teachers}">Instructor Management</a>
				</li>
			</ul>
		</div>
	</nav>

	<br><br>

	<div class="container">
	<div class="row">
			<h1 th:text = "${teacher.firstName}"></h1>
			<h1 style = "padding-left: 1%" th:text = "${teacher.lastName}"> </h1>
		</div>
		
	</div>

<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th> Course ID</th>
					<th> Course Name</th>
					<th> Teacher </th>
					<th> Number of Students</th>
					<th> Actions </th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="subject: ${subject}">
					<td th:text="${subject.subjectId}"></td>
					<td th:text="${subject.subjectName}"></td>
					
<!-- *****************TODO: need to add  TEACHERS and Number of student  *****************-->


<!-- *****************TODO: need to add functionality to action links  *****************-->

					<!--<td th:text="${student.lastName}"></td>
					<td th:text="${student.phoneNumber}"></td>
					<td th:text="${student.email}"></td>
					<td>
						<a th:href="@{/students/edit/{studentId}(studentId=${student.studentId})}"
							class="btn btn-primary">Update</a>

						<a th:href="@{/students/{studentId}(studentId=${student.studentId})}"
							class="btn btn-danger">Delete</a>

					</td> -->
				</tr>  
			</tbody>

		</table>

</body>

</html>