<!DOCTYPE html>
<html xmlns:th="http://thymeLeafe.org">
<!-- Head -->

<head th:replace="layouts :: head"></head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand Link -->
		<a th:replace="layouts :: brand"></a>

		<!-- Navigation header Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Nav bar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/teachers}">Instructor Management</a>
				</li>
			</ul>
		</div>
	</nav>

	<br><br>

	<div class="container">
		<div class="row">
			<h1 th:text="${teacher.firstName}"></h1>
			<h1 style="padding-left: 1%" th:text="${teacher.lastName}"> </h1>
		</div>

	</div>

	<table class="table table-striped table-bordered">
		<thead class="table-dark">
			<tr>
				<th> Subject Name</th>
				<th> Course Name</th>
				<th> Actions </th>
			</tr>
		</thead>

		<tbody>

			<tr th:each="subject: ${subject}">
				<td th:text="${subject.subjectName}"></td>

<!-- *****************TODO: need to make the list show only the course by the subject Id  ***************************************-->
				<td>
					<ul th:each="course: ${course}">
						<li th:text="${course.courseName}"> </li>

					</ul>
				</td>

<!-- ********************* TODO: need to add functanality to the Links ************************-->
					<td>
						<a th:href="@{/teachers}"
							class="btn btn-primary">Add Course</a>
				</td>
			</tr>
		</tbody>

	</table>

</body>

</html>